@font-face {
  font-family: 'Roboto Slab';
  src: url('../../fonts/RobotoSlab-Regular.woff2') format('woff2'),
  url('../../fonts/RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Literata';
  src: url('../../fonts/Literata-Regular.woff2') format('woff2'),
  url('../../fonts/Literata-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.wrap {
  margin: 0 auto;
  padding: 1em;
  width: 500px;
  border: 2px solid lightseagreen;
  border-radius: 30px;
}

.title {
  font-family: Roboto Slab, Arial;
  text-align: center;
}