@font-face {
  font-family: 'Roboto Slab';
  src: url('../../fonts/RobotoSlab-Regular.woff2') format('woff2'),
  url('../../fonts/RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Literata';
  src: url('../../fonts/Literata-Regular.woff2') format('woff2'),
  url('../../fonts/Literata-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.wrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: .5em;
  max-width: 480px;
}

.menu {
  padding: .5em;
}

.content {
  margin-left: .5em;
}

.title {
  font-family: Roboto Slab, Arial;
  text-align: center;
}
