@font-face {
  font-family: 'Roboto Slab';
  src: url('../../fonts/RobotoSlab-Regular.woff2') format('woff2'),
  url('../../fonts/RobotoSlab-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Literata';
  src: url('../../fonts/Literata-Regular.woff2') format('woff2'),
  url('../../fonts/Literata-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: Roboto Slab, Arial;
}

.wrap {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: .5em;
  max-width: 500px;
}

.menu {
  padding: .5em;
  
}

.content {
  display: flex;
  justify-content: center;
  min-width: 188px;
  margin-left: .5em;
}

.link {
  text-decoration: none;
  color: black;
}

.title {
  /*font-family: Roboto Slab, Arial;*/
  text-align: center;
}
