.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #111111;
  border-radius: 5px;
  background: #e9e9e9;
  margin-bottom: 5px;
  padding: 0 10px;
  font-family: Literata, Arial, sans-serif;
}

.done {
  text-decoration-line: line-through;
  text-decoration-color: #000000;
  color: #c4c4c4;
}

.itemText {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 5px;
}

.itemValue {
  white-space: pre-wrap;
}
